html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

.artwork, .footer {
  flex: 1 100%;
}

.artwork {
  background-color: #eeeeee;
  background-image: url('../img/benjamin-paulus-artwork.png');
  background-size: cover;
  background-position: center;
  order: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gradient {
  width: 100%;
  height: 100%;
  background-image: url('../img/overlay.png');
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
}

.feather {
  position: absolute;
  left: 20%;
  top: 30%;
  width: 305px;
  height: 272px;
  background-image: url(../img/feather.png);
  background-size: contain;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(-15deg)
}

.title-and-social {
  justify-content: center;
  display: flex;
  flex-flow: row;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}

.footer {
  font-size: 15px;
  background-color: #aaaaaa;
  background-image: url('../img/footer-background.png');
  height: 400px;
  order: 2;
}

.footer-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-weight: 200;
}

.footer-left, .footer-middle, .footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.info-label {
  display: inline-block;
  width: 50px;
}

.info-content {
  font-style: italic;
}

.footer-left {
  order: 1;
}

.footer-middle {
  flex-direction: column;
  width: 50%;
  order: 2;
}

.footer-right {
  order : 3;
}

.footer-title {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.halley-interactive {
  background-image: url('../img/halley-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 128px;
  height: 74px;
}

.site-title {
  text-shadow: 0px 0px 10px rgba(0,0,0,.5);
  margin: 30px 0 20px 0;
}

.title-the, .title-of-benjamin-paulus {
  font-size: 50px;
  font-weight: 200;
}

.title-illusionarium {
  font-size: 90px;
  margin: -15px 0px;
  font-family: 'Oswald';
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icon {
  width: 45px;
  height: 45px;
  margin: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.instagram {
  background-image: url('../img/social-instagram.svg');
}
.twitter {
  background-image: url('../img/social-twitter.svg');
}
.artstation {
  background-image: url('../img/social-artstation.svg');
}
.linkedin {
  background-image: url('../img/social-linkedin.svg');
}

.date-of-birth {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/pencil-dash-large.png');
  height: 83px;
  width: 100%;
}

.scroll-down-btn {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  background-image: url('../img/scroll-down-btn.png');
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 0px;
  -webkit-transition: padding 200ms;
  transition: margin 200ms;
  cursor: pointer;
  z-index: 2;
}

.scroll-down-btn:hover {
  margin: -20px 0 50px 0;
}

@media screen and (max-width: 1000px) {

  .footer-content {
    height: auto;
    margin-top: 20px;
  }
  .footer-left {
    width: 50%;
    order: 2;
  }
  .footer-middle {
    width: 100%;
    order: 1;
  }
  .footer-right {
    width: 50%;
    order: 3;
  }

  .title-the, .title-of-benjamin-paulus {
    font-size: 30px;
  }

  .title-illusionarium {
    font-size: 60px;
  }

  .date-of-birth {
    background-image: url('../img/pencil-dash-small.png');
  }

  .feather {
    width: 200px;
    height: 178px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 12px;
  }

  /*
  .footer-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  */
  .halley-interactive {
    width: 100px;
    height: 58px;
  }

  .feather {
    width: 150px;
    height: 134px;
  }
}

@media screen and (max-width: 450px) {
  .title-the, .title-of-benjamin-paulus {
    font-size: 20px;
  }

  .title-illusionarium {
    font-size: 40px;
  }

  .feather {
    width: 100px;
    height: 89px;
  }
}
