html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
    "art"
    "footer";
}

.artwork-overlay {
    grid-area: art;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(18, 1fr);
}
.artwork {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.artwork img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.artwork.hidden {
    opacity: 0;
}

.logo {
    grid-column: 2 / 4;
    grid-row: 7 / 12;
    background-image: url('../img/logo.svg');
    background-origin: content-box;
    padding: 20px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo svg {
    fill: #FFF;
}

.bp {
    grid-column: 2 / 4;
    grid-row: 13 / 16;
    background-image: url('../img/benjamin-paulus.svg');
    background-origin: border-box;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.scroll-down-btn {
    grid-column: 2 / 4;
    grid-row: 17 / 18;
    background-image: url('../img/scroll-down-btn.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.footer {
    background-color: #0C1A1D;
    grid-area: footer;
    display: grid;
    width: 100vw;
    height: 400px;
    grid-template-columns: 1fr 150px repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.download-cv {
    color: #FFF;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border: 2px solid #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
    font-style: normal;
    font-size: 12px;
}